<% include partials/header %>
<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">imdb database</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/actors">Actors</a></li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>

<center><h1>idmb directors</h1>

<div class="container">
<form action="/directors" method="get" id="selecting">
Select content to be shown
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="number"> #
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="name"> name
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="facebook_likes"> facebook_likes
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="movies"> movie directed
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="actors"> actors coorporated
  </label>
<button type="submit" class="btn btn-default">Refresh</button>
</form>
</div>

<a class="btn btn-primary" href="/movies/new" role="button">Add new tuple</a>

<div class="container-fluid">
<div class="table-responsive">  
<table class="table table-striped">
<tbody class="reactable-data">   
<thead>
<tr class="reactable-column-header">
    <td id="number" class="target">#</td>
    <td id="name" class="target">name</td>
    <td id="facebook" class="target">facebook likes</td>
    <td id="movies" class="target">movies directed</td>
    <td id="actors" class="target">actors coorporated</td>
</tr>    
</thead>
<%  for(var i=50*(page.number-1); (i<result.length) && (i<50*page.number); i++)  {%>
<tr>
    <td>
    <%=  result[i].id  %>
    </td>
    <td>
    <a href="/directors/<%= result[i].id %>"><%=  result[i].director_name  %></a>
    </td>
    <td>
    <%=  result[i].directo_facebook_likes  %>
    </td>
    <td>
    <%=  result[i].movies  %>
    </td>
    <td>
    <%=  result[i].actors %>
    </td>
</tr>    
<%  } %>   
</tbody> 
</table>
</div>  
</div> 
<div class="btn-group ">
  <a class="btn btn-primary" id="previous">Previous page</a>
  <a class="btn btn-primary" id="next">Next page</a>
</div>
</center>

 <script>
 
     $(document).ready(function(){
    $("#previous").click(function(){
    var page;
    if( <%= page.number %> > 1){  
    page = <%= page.number  %> - 1;  
    }
    else {
    page = 1;
    }
    var direct="/movies?page="+page;
    $(location).attr('href', direct);
  });
  });
    
    $(document).ready(function(){
    $("#next").click(function(){
    var page;
    if( <%= page.number %> < <%= result.length/50 + 1 %>) {  
    page = <%= page.number  %> + 1;  
    }
    else {
    page = result.length/50 + 1;
    }
    var direct="/movies?page="+page;
    $(location).attr('href', direct);
    });
    });
    function changeRank(item){
        var order_item, order;
        order_item="<%= page.order_item %>";
        order="<%= page.order%>";
        if(order_item == item) {
            if(order == "asc") {
                order = "desc";
            }
            else {
                order = "asc";
            }
        }
        else {
            order_item = item;
            order = "asc";
        }
        var direct="/directors?order_item="+order_item+"&order="+order;
        console.log(direct);
        $(location).attr('href', direct);
    }
 
    $(document).ready(function(){
    $("#number").click(function(){
        changeRank("director.id");
    });
    });
    
    $(document).ready(function(){
    $("#name").click(function(){
        changeRank("director.director_name");
    });
    });
    
    $(document).ready(function(){
    $("#facebook").click(function(){
        changeRank("director.directo_facebook_likes");
    });
    });
    
    $(document).ready(function(){
    $("#movies").click(function(){
        changeRank("movie.id");
    });
    });
    
    $(document).ready(function(){
    $("#actors").click(function(){
        changeRank("actor.id");
    });
    });
    
    
    $(document).ready(function(){
    $(".target").mouseover(function() {
    $(this).css('cursor','pointer');
    })
    $(".target").mouseout(function() {
    $(this).css('cursor','pointer');
    });
    });
    
</script>

<% include partials/footer %>