<% include partials/header %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">imdb database</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/actors">Actors</a></li>
        <li><a href="/directors">Directors</a></li>
      </ul>
    </div>
  </div>
</nav>



<center>
<br>
<br>
<h2>imdb hot movies</h2>




<div class="container">
<form action="/movies" method="get" id="selecting">
Select content to be shown
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="number"> #
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="title"> title
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="year"> year
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="rank"> rank
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="director"> director
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="chosen" name="actor"> actor
  </label>
<button type="submit" class="btn btn-default">Refresh</button>
</form>
</div>

<div class="container-fluid">
<div class="table-responsive">  
<table class="table table-striped">
  
<thead class="thead-inverse">
<tr class="reactable-column-header">
    <td id="number" class="target">#</td>
    <td id="title" class="target">title</td>
    <td id="year" class="target">year</td>
    <td id="rank" class="target">rank</td>
    <td id="director" class="target">director</td>
    <td id="actors" class="target">actors</td>
</tr>    
</thead>
<tbody class="reactable-data"> 
<%  for(var i=0; (i<result.length) && (i<50); i++)  {%>
<tr>
    <td>
    <%=  result[i].id  %>
    </td>
    <td>
    <a href=<%=  result[i].link  %>
    ><%=  result[i].title  %></a>
    </td>
    <td>
    <%=  result[i].year  %>
    </td>
    <td>
    <%=  result[i].score  %>
    </td>
    <td>
    <%=  result[i].director_name  %>
    </td>
    <td>
    <%=  result[i].list %>
    </td>
</tr>    
<%  } %>   
</tbody> 

</table>
</div>  
</div>    
</center>
 <script>
    function changeRank(item){
        var order_item, order;
        order_item="<%= page.order_item %>";
        order="<%= page.order%>";
        if(order_item == item) {
            if(order == "asc") {
                order = "desc";
            }
            else {
                order = "asc";
            }
        }
        else {
            order_item = item;
            order = "asc";
        }
        var direct="/movies?order_item="+order_item+"&order="+order;
        console.log(direct);
        $(location).attr('href', direct);
    }
 
    $(document).ready(function(){
    $("#number").click(function(){
        changeRank("movie.id");
    });
    });
    
    $(document).ready(function(){
    $("#title").click(function(){
        changeRank("movie.title");
    });
    });
    
    $(document).ready(function(){
    $("#year").click(function(){
        changeRank("movie.year");
    });
    });
    
    $(document).ready(function(){
    $("#rank").click(function(){
        changeRank("movie.score");
    });
    });
    
    $(document).ready(function(){
    $("#director").click(function(){
        changeRank("director.director_name");
    });
    });
    
    $(document).ready(function(){
    $("#actors").click(function(){
        changeRank("actor.actor_name");
    });
    });
    
    $(document).ready(function(){
    $(".target").mouseover(function() {
    $(this).css('cursor','pointer');
    })
    $(".target").mouseout(function() {
    $(this).css('cursor','pointer');
    });
    });
    
</script>
<% include partials/footer %>